
// COLORS

$black-01: #000;
$black-02: #181818;

$gray-01: #444;
$gray-02: #666;
$gray-03: #888;
$gray-04: #aaa;
$gray-05: #ccc;
$gray-06: #e8e8e8;

$green-01: #C0D890;

$red-01: #ED4337;
$red-02: #FD6357;

$white-01: #fff;
$white-02: #f0f0f0;

$yellow-01: #ffffd5;