@import "../global-styles/variables";

.pokedex {
    display: flex;
    align-items: flex-end;
    
    width: 100%;
    
    &__camera {
        height: 100px;
        width: 100px;

        display: flex;
        
        background-color: $white-01;
        border-radius: 50%;
        border: 7px solid $gray-04;
    }

    &__container {
        width: 50%;
        background-color: $red-01;

        display: flex;

        &--left {
            height: 600px;

            flex-wrap: wrap;
        }

        &--right {
            height: 500px;

            align-items: center;
            justify-content: center;
            
            border-left: 2px solid $gray-04;
        }
    }

    &__dot {
        height: 20px;
        width: 20px;
        margin-right: 5px;
        
        border: 1px solid $gray-04;
        border-radius: 50%;

        &--red { background-color: $red-01; }
        &--yellow { background-color: $yellow-01; }
        &--green { background-color: $green-01; }

    }

    &__image {
        width: 220px;
        height: 220px;

        background-color: $black-01;
        border: 5px solid $gray-02;
        border-radius: 5px;
        
    }

    &__image-container {
        width: 100%;
        height: calc(100% - 150px);
        
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__screen {
        height: 80%;
        width: 90%;

        padding: 8px;
        overflow: scroll;

        background-color: $green-01;
    }

    &__screen-header {
        margin-top: 0;
        margin-bottom: 8px;

        text-transform: capitalize;
    }

    &__screen-key {
        font-weight: bold;
        margin-right: 4px;
    }

    &__screen-row { margin-bottom: 5px; }

    &__screen-value {
        color: $black-02;
    }

    &__top {
        width: 50%;
        height: 80px;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        background-color: $red-02;

        &--left {
            height: 150px;            
            justify-content: center;
        }
    }
}